@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(16px, 1.2vw, 32px);
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  background: #928c8c;
  font-family: "Arapey", sans-serif;
  max-width: 100vw;
  min-height: 100vh;
}

main {
  padding-top: 100px;
  max-width: 1600px;
  margin: 0 auto;
  letter-spacing: 0.01em;
  background: #fff;
}

a {
  text-decoration: none;
  color: var(--clr-white);
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  font-family: Verdana, sans-serif;
  line-height: 1.5em;
}
